
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About Us</h2>

<img src="~/Images/USA 3.jpg" />
<h6>MARINE CORPS PURPOSE</h6>
<p>The Marine Corps mission reflects every Marine's purpose. In essence, our Nation is that purpose. In our world, in ourselves, and in our way, there are conflicts, challenges, and obstacles that must be fought confidently and defeated convincingly for our Nation to prevail.</p>



<h6>Our Values</h6>
<p>Our Core Values are Honor, Courage and Commitment, and if you are to become one of us, they will be the values you live by and fight with as well. They are the building blocks that will aid you in making the right decisions at the right time, both on the battlefield and in our Nation’s communities.</p>



<h6>Our History</h6>
<p>The Marine Corps was founded on November 10, 1775, when the Continental Congress ordered that two battalions of Marines be raised for service as landing forces with the fleet. Marines have participated in all wars of the United States, being in most instances first, or among the first, to fight. In addition, Marines have executed more than 300 landings on foreign shores and served in every major U.S. naval action since 1775.</p>


<h6>World War 2</h6>
<p>In World War II, the Marines played a central role in the Pacific War, participating in nearly every significant battle. The Corps also saw its peak growth as it expanded from two brigades to two corps with six divisions, and five air wings with 132 squadrons. In addition, 20 Defense Battalions were also set up, as well as a Parachute Battalion.[139] In all, the Corps totaled at a maximum end strength of over 475,000 Marines, the highest in its history. The battles of Guadalcanal, Tarawa, Saipan, Guam, Peleliu, Iwo Jima, and Okinawa saw fierce fighting between U.S. Marines and the Imperial Japanese Army. The secrecy afforded their communications by the now-famous Navajo code talker program is widely seen as having contributed significantly to their success. The first African American recruits were accepted in 1942 to begin the desegregation of the Corps.</p>
<img src="~/Images/USA Marines 4.jpg" width="300" height="300" />
<h6>Korean War</h6>
<p>
    The Korean War (1950–1953) saw the hastily formed 1st Provisional Marine Brigade holding the line at the Battle of Pusan Perimeter, where Marine helicopters (VMO-6 flying the HO3S1 helicopter) made their combat debut.[157] To execute a flanking maneuver, General Douglas MacArthur called on Marine air and ground forces to make an amphibious landing at the Battle of Inchon. The successful landing resulted in the collapse of North Korean lines and the pursuit of North Korean forces north near the Yalu River until the entrance of the People's Republic of China into the war. Chinese troops surrounded, surprised and overwhelmed the overextended and outnumbered U.S. forces. However, unlike the Eighth Army, which retreated in disarray, the 1st Marine Division, while attached to the Army's X Corps regrouped and inflicted heavy casualties during their fighting withdrawal to the coast. Now known as the Battle of Chosin Reservoir, it entered Marine lore as an example of the toughness and resolve of the Marine. Marines would continue a battle of attrition around the 38th Parallel until the 1953 armistice.

    The Korean War saw the Marine Corps rebound from its drastic cuts of about 75,000 at the start to a force, by the end of the conflict in 1953, of 261,000 Marines, most of whom were reservists. Aviation grew to four air wings, 20 aircraft groups and 78 flying squadrons, a level that has remained more or less consistent to this day.[154] 4,267 Marines were killed and 23,744 wounded during the war, while 42 were awarded the Medal of Hono
</p>

<img src="~/Images/Korean War 2.jpg" width="300" height="300" />
<h6>Vietnam War</h6>
<p>The Marines also played an important role in the Vietnam War at battles such as Da Nang, Huế, and Khe Sanh. The Marines operated in the northern I Corps regions of South Vietnam and fought both a constant guerilla war against the Viet Cong and an off and on conventional war against North Vietnamese Army regulars. Marines also conducted the less well-known Combined Action Program that implemented unconventional techniques for counterinsurgency warfare. The Marine presence was withdrawn in 1971, but returned briefly in 1975 to evacuate Saigon and attempt to rescue the crew of the Mayagüez. 13,091 Marines were killed and 88,594 wounded during the war.[68] As a footnote, the Marines in Vietnam suffered more casualties than both WWI and WWII combined, and 58 were awarded the Medal of Honor.</p>
<img src="~/Images/Vitenam 2.jpg" width="300" height="300" />

<h6>The Gulf War</h6>
<p>Marines were also responsible for liberating Kuwait during the Persian Gulf War of 1990 and 1991, as the Army III, VII and XVIII corps made an attack to the west and north directly into Iraq to kill the Iraqi army and cut off forces in Kuwait.The I Marine Expeditionary Force had a strength of 92,990 making Operation Desert Storm the largest Marine Corps operation in history. A total of 24 Marines were killed in action or later died of wounds, while 92 were wounded</p>
<img src="~/Images/Iraq 1.jpg" width="300" height="300" />

<h6>Bosnian War</h6>
<p>Marines played a modest role in the Bosnian War and NATO intervention. Operation Deny Flight began on 12 April 1993, to enforce the United Nations no-fly zone in Bosnia and Herzegovina and provide air support to the United Nations Protection Force. The F/A-18D Hornet was proven to be a "highly resourceful multirole platform", in addition to showcasing the importance of precision-guided munitions. In 1995, the mission was expanded to include a bombing campaign called "Operation Deliberate Force". On 2 June 1995, Air Force Captain Scott O'Grady's F-16 was shot down by a Bosnian Serb Army surface-to-air missile in the Mrkonjić Grad incident. Marines from the 24th MEU, based on the USS Kearsarge, rescued him from western Bosnia on 8 June. Marines would support the IFOR, SFOR, and KFOR until 1999. On 3 February 1998, an EA-6B Prowler from VMAQ-2, deployed to Aviano Air Base to support the peacekeeping effort, hit an aerial tram cable and killed 20 European passengers</p>
<img src="~/Images/USA 12.jpg" width="300" height="300" />

<h6>War in Afghanistan</h6>
<p>After the U.S. was attacked by terrorists on 11 September 2001, Marines and other U.S. forces began staging in Pakistan and Uzbekistan on the border of Afghanistan as early as October 2001 in preparation for Operation Enduring Freedom. The 15th and 26th Marine Expeditionary Units were some of the first conventional forces into Afghanistan in support of Operation Enduring Freedom in November 2001. Since then, Marine battalions and squadrons have been rotating through, engaging Taliban and Al-Qaeda forces. Marines of the 24th Marine Expeditionary Unit flooded into the Taliban-held town of Garmsir on 29 April 2008, in Helmand Province, in the first major American operation in the region in years. In June 2009, 7,000 Marines with the 2nd Marine Expeditionary Brigade deployed to Afghanistan in an effort to improve security, and began Operation Strike of the Sword the next month. Thus far, 449 Marines have been reported killed</p>
<img src="~/Images/Afghan 12.jpg"  width="300" height="300"/>

<h6>Iraq War 2003</h6>
<p>Most recently, the Marines have served prominently in the Iraq War as part of Operation Iraqi Freedom. The  Marine Expeditionary Force, along with the Army's 3rd Infantry Division, spearheaded the 2003 invasion of Iraq  and received the Presidential Unit Citation, the first time a Marine unit has received that award since 1968. The Marines left Iraq in the fall of 2003, but returned for occupation duty in the beginning of 2004. They were given responsibility for the Al Anbar Province, the large desert region to the west of Baghdad. During this occupation, the Marines spearheaded both assaults on the city of Fallujah in April (Operation Vigilant Resolve) and November 2004 (Operation Phantom Fury) and also saw intense fighting in such places as Ramadi, Al-Qa'im and Hīt. Their time in Iraq has also courted controversy with the Haditha killings and the Hamdania incident. The Anbar Awakening and 2007 surge reduced levels of violence. On 1 March 2009, President Barack Obama announced an accelerated withdrawal during a speech at Camp Lejeune, promising all combat troops out by August 2010. The Marine Corps officially ended its role in Iraq on 23 January 2010 when they handed over responsibility for Al Anbar Province to the United States Army. 1,022 Marines were killed in the war with an additional 8,623 wounded, while only Cpl Jason Dunham received the Medal of Honor.</p>
<img src="~/Images/Iraq 2.jpg" width="300" height="300" />