
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About Us</h2>

<img src="~/Images/USA 3.jpg" />
<h6>MARINE CORPS PURPOSE</h6>
<p>The Marine Corps mission reflects every Marine's purpose. In essence, our Nation is that purpose. In our world, in ourselves, and in our way, there are conflicts, challenges, and obstacles that must be fought confidently and defeated convincingly for our Nation to prevail.</p>



<h6>Our Values</h6>
<p>Our Core Values are Honor, Courage and Commitment, and if you are to become one of us, they will be the values you live by and fight with as well. They are the building blocks that will aid you in making the right decisions at the right time, both on the battlefield and in our Nation’s communities.</p>



<h6>Our History</h6>
<p>The Marine Corps was founded on November 10, 1775, when the Continental Congress ordered that two battalions of Marines be raised for service as landing forces with the fleet. Marines have participated in all wars of the United States, being in most instances first, or among the first, to fight. In addition, Marines have executed more than 300 landings on foreign shores and served in every major U.S. naval action since 1775.</p>
