
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<img src="~/Images/US Marines 1.jpg" width="400" height="400" />
<h2>Home</h2>

<h6>PURPOSE & BELONGING</h6>
<img src="~/Images/USA Marines 2.jpg"  width="300" height="300"/>
<p>The belonging Marines share is more than mere togetherness. It’s a collective fight for a common purpose.</p>

<h6>MARINE CORPS STANDARDS</h6>
<p>To uphold the trust our Nation places in each of us, every Marine must meet every Marine standard.</p>
<img src="~/Images/USA Crops 1.jpg" width="300" height="300"/>

<h6>OUR PURPOSE</h6>
<p>For a people. A place. An idea. Protecting its interest and guarding its ideals, our Nation is our purpose.</p>
<img src="~/Images/USA Army 1.jpg" width="300" height="300" />

<p>U.S. Marines with III Marine Expeditionary Force Information Group, soldiers with U.S. Army 1st Special Forces Group, and U.S. Navy SEALs conducted close air support training at MCAS Iwakuni, Feb. 15-16. The training was conducted to enhance joint operability across the separate military branches to respond to possible threats in the Indo-Pacific...</p>