
@{
    ViewBag.Title = "Life";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Life in the US Marines</h2>
<img src="~/Images/US Marine 6.jpg"  width="300" height="300"/>
<h6>BATTLES WELL FOUGHT. A LIFE WELL LIVED.</h6>
<p>At all times, Marines conduct themselves in a manner in keeping with the tremendous trust our Nation places in them. But this does not mean Marines spend their entire time in the Corps locked at attention. There is great fulfillment that comes from fighting as a Marine and great personal satisfaction living as one. While training or relaxing on or off base, or while bringing our Nation’s fight to every battlefield in our operating forces, Marines enjoy the way of life they together defend.</p>

<img src="~/Images/US MaRINE 5.jpg"  width="300" height="300"/>
<h6>Life on the Base</h6>
<p>Long after serving in the Corps, it is a Marine's time in uniform that is often considered most meaningful. Between training to fight and fighting to win, Marines experience a unique quality of life on our bases and stations.</p>

<h2>"Once a Marine, always a Marine." Whether you serve for four years or for 20, those in the USMC proudly wear the title ‘Marine’ for life.</h2>